<h1>Portfolio Items</h1>

<%= link_to "Create New Portfolio",new_portfolio_path %>


<% @portfolio.each do |portfolio_item| %>
    <p><%= portfolio_item.title%></p>
    <p><%= portfolio_item.subtitle%></p>
    <p><%= portfolio_item.body%></p>
    <%= image_tag portfolio_item.main_image if !portfolio_item.main_image.nil? %>
    <%= image_tag portfolio_item.thumg_image unless portfolio_item.thumg_image.nil? %><br>
    <%= link_to "Edit Portfolio",edit_portfolio_path(portfolio_item.id) %>
    <a href="/portfolios/<%= portfolio_item.id %>/edit">Edit Two</a>
<%end%>